<ion-view class="home-view">
  <ion-nav-title>
    <span>Google Login Example</span>
  </ion-nav-title>
  <ion-content>
    <div class="row">
      <div class="col">
        <h3 class="welcome-message">Hi {{user.name}}</h3>
        <p class="welcome-message">You have logged in with Google</p>
        <img ng-src="{{user.picture}}">
        <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
          Log Out
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>